@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(0, 0, 0) !important;
    width: 100vw;
    min-height: 100vh;
    padding: 15px;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(178, 255, 174);
  }
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}