@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


*{
    font-family: 'Ubuntu', sans-serif;
}

body{
    overflow-x: hidden;
}

/* -------------------------------------X----------------------------------------  */
/* Nav-items Animation */
.NetSepio{
    animation: left 2s 1;
}
@keyframes left {
    0%{ margin-left: -600px; }
    100%{ margin-left: 0; }
}
/* ---------------------------- */
.nav-items{
    animation: middle 3s 1;
}
@keyframes middle {
    0%{ margin-top: -500px; }
    100%{ margin-top: 0; }
}
/* ---------------------------- */
.button-1{
    animation: right 2s 1;
}
@keyframes right {
    0%{ margin-right: -600px; }
    100%{ margin-right: 0; }
}
/* ---------------------------- */
.button-2{
    animation: strech 2s 1;
}
@keyframes strech{
    0%{ transform: scale(0.5); }
    100%{ transform: scale(none); }
}
/* -------------------------------------X----------------------------------------  */
/* Nav-items hover effect */
.nav-items{
    color: #000;
}
.nav-items::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    @apply dark:bg-white;
    transition: width .3s;
}
.nav-items:hover::after {
    width: 100%;
}

/* Card Animation */
.card{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: card-move 2s 1;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

@keyframes card-move {
    0%{ transform: translateX(0); }
    50%{ transform: translateX(2); }
    100%{ transform: translateX(4); }
}
/* -------------------------------------X----------------------------------------  */

/* Card Reviwes in percentage */
.bar {
    /* position: relative; */
    /* border: 5px solid red; */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    backdrop-filter: blur(10px);
  }


/* Specific Type one by one */

/* ---------------------------------------------------- */
#genuine-bar{
    width: 0px;
    height: 100%;
    background-color: #bbfcba;
    animation: genuine-fill 2s forwards;
}
@keyframes genuine-fill {
    100% {
      width: 10%;
    }
  }
  /* ---------------------------------------------------- */
  #scam-bar{
    width: 0px;
    height: 100%;
    background-color: #fcbaba;
    animation: scam-fill 2s forwards;
}
@keyframes scam-fill {
    100% {
      width: 20%;
    }
  }
  /* ---------------------------------------------------- */
  #stereotype-bar{
    width: 0px;
    height: 100%;
    background-color: #badefc;
    animation: stereotype-fill 2s forwards;
}
@keyframes stereotype-fill {
    100% {
      width: 30%;
    }
  }
  /* ---------------------------------------------------- */
  #hate-bar{
    width: 0px;
    height: 100%;
    background-color: #fcf8ba;
    animation: hate-fill 2s forwards;
}
@keyframes hate-fill {
    100% {
      width: 40%;
    }
  }
  /* ---------------------------------------------------- */
  #fake-bar{
    width: 0px;
    height: 100%;
    background-color: #fcbaf3;
    animation: fake-fill 2s forwards;
}
@keyframes fake-fill {
    100% {
      width: 50%;
    }
  }

/* -------------------------------------X----------------------------------------  */

/* Responsive */
@media(max-width:1024px){

    .nav-items{
        animation: none;
        text-align: center;
    }
    .nav-items:hover::after {
        width: 0%;
    }

}
