@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url("/iceland.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    backdrop-filter: blur(20px);
}