@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.backgroundImage{
    background: url('/background-img.jpg');
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -10;
}
*{
    font-family: 'Arimo', sans-serif;
}

.NetSepio{
    font-family: 'Ubuntu', sans-serif;
}

.backgroundImage2 {   
    display: none;
}

/* .card{
    animation: move 2s;
    animation-fill-mode: forwards;
}
@keyframes move {
    from{top: 0%;}
    to{bottom: 50%;}    
} */



@media(max-width: 1024px) {
    .backgroundImage{
        display: none;
    }
    .backgroundImage2{   
        display: block;
        background: url('/background-img-2.jpg');
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background-size: cover;
        z-index: -10;
    }
}