name: "Build and Push to GHCR"

on:
  push:
    branches: 
      - 3-dev-deployment
jobs:
  build_push:
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}
    
    - name: Build and Push Docker Image
      env:
        ENV_FILE: ${{ secrets.ENV_FILE }}
      run: |
        echo "$ENV_FILE" | base64 -d > .env
        export CURRENT_BRANCH=${GITHUB_REF#refs/heads/}
        export TAG=$([[ $CURRENT_BRANCH == $(basename ${{ github.ref }}) ]] && echo $CURRENT_BRANCH || echo "latest")
        echo $TAG
        export GITHUB_REF_IMAGE=ghcr.io/$GITHUB_REPOSITORY:$GITHUB_SHA
        export GITHUB_BRANCH_IMAGE=ghcr.io/$GITHUB_REPOSITORY:$TAG
        export GITHUB_REF_IMAGE=$(echo $GITHUB_REF_IMAGE | tr '[:upper:]' '[:lower:]')
        export GITHUB_BRANCH_IMAGE=$(echo $GITHUB_BRANCH_IMAGE | tr '[:upper:]' '[:lower:]')
        docker build --build-arg version=$GITHUB_SHA -t $GITHUB_REF_IMAGE -t $GITHUB_BRANCH_IMAGE .
        echo "Pushing Image to GitHub Container Registry"
        docker push $GITHUB_REF_IMAGE
        docker push $GITHUB_BRANCH_IMAGE
        rm -rf .env
  deploy:
    needs: build_push
    runs-on: ubuntu-latest
    steps:
    - name: Deploy on DEV server
      if: github.ref == 'refs/heads/3-dev-deployment'
      uses: appleboy/ssh-action@v0.1.7
      with:         
        host: ${{ secrets.DEV_REMOTE_SERVER_ADDRESS }}
        username: ${{ secrets.DEV_SERVER_USERNAME }}
        key:  ${{ secrets.DEV_REMOTE_SERVER_KEY }}
        port: ${{ secrets.DEV_SSH_PORT }} 
        script: |
          pwd
          cd gateway
          docker stop webapp || true && docker image rm ghcr.io/netsepio/webapp:3-dev-deployment
          docker pull ghcr.io/netsepio/webapp:3-dev-deployment
          docker run --name="webapp" --rm --env-file=.env -p 4000:80 --net=bridge -d ghcr.io/netsepio/webapp:3-dev-deployment
